{
    "env": {
      "production": {
        "presets": [
          [
            "env"
          , {
              "targets": {
                "browsers": [
                  "last 2 versions"
              ]
            }
          }
        ]
        , [
            "react"
        ]
        , [
            "react-optimize"
        ]
      ]
      , "plugins": [
         "syntax-flow"
        , "transform-object-rest-spread"
        , "transform-class-properties"
        , "transform-decorators"
        , "transform-react-constant-elements"
        , "transform-flow-strip-types"
        , "transform-react-remove-prop-types"
        , "transform-strict-mode"
      ]
    }
    , "development": {
        "presets": [
          [
            "env"
          , {
              "targets": {
                "browsers": [
                  "last 1 versions"
              ]
            }
          }
        ]
        , [
            "react"
        ]
      ]
      , "plugins": [
         "syntax-flow"
        , "flow-react-proptypes"
        , "transform-class-properties"
        , "transform-decorators"
        , "transform-react-constant-elements"
        , "transform-flow-strip-types"
        , "tcomb"
        , "transform-strict-mode"
      ]
    }
  }
}
