{
  "presets": [
    [ "es2015" ],
    [ "es2016" ],
    [ "react" ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "react-require",
    "transform-react-constant-elements",
    "syntax-flow",
    "transform-flow-strip-types"
  ],
   "env": {
    "production": {
      "presets": [
        "react-optimize"
      ],
      "plugins": [
      	"transform-react-remove-prop-types"
      ]
    },
    "dev": {
      "plugins": [
        "tcomb",
        "flow-react-proptypes"
      ]
    }
  }
}
