*
.*

!.generator/
!example/
!.gulp-tasks/
!gulpfile.js
!package.json
!README.md
!README.RU.md
!.gitignore
!.babelrc
!.eslintrc.json
!.htmlhintrc
!.jsbeautifyrc
!.postcss-sorting.json
!.pug-lint.json
!.stylelintrc.json

node_modules
bower_components
npm-debug.log
