footer {
  margin: 0;
  padding: 1em 0;

  text-align: center;

  color: #333;
  border-top: 1px solid #e0e0e0;

  & h3 {
    margin: 0;
    padding: 0;

    color: #666;

    font-weight: 300;
    line-height: 2.5em;
  }

  & a {
    color: #777;
  }

  & a:hover {
    color: #888;
  }
}
