p This is a lightweight framework used to create and compile your site
h2 Features
ul
  li Nodejs run with nodemon
  li Static server with browsersync
  li Live code reload with nodemon and/or browsersync
  li Deploy with rsync
  li Pug or HTML templates
  li Pug compilation
  li
    | HTML compilation (
    code gulp-include
    | ) as fallback
  li Browserify support
  li JavaScript compilation with gulp-include as fallback
  li Babel for JavaScript
  li Uglify code for production
  li Postcss support (precss and postcss-cssnext)
  li CSS minimization with cssmin
  li Sourcemaps support for JavaScript and CSS
  li Image compressing with imagemin
  li CSS lint with stylelint
  li CSS fix with stylefmt and postcss-sorting
  li JavaScript lint with eslint
  li JavaScript fix with eslint and js-beautify
  li HTML lint with htmllint
  li HTML prettify with html-prettify
  li Pug lint with pug-lint
h2 Project Structure
h3 File tree

pre.

h3 Description
h4 package.json
p File with npm deps
h4 bower.json
p File with bower deps
h4 index.js
p
  | Main file of your Nodejs project. This script will be called by nodemon when you run 
  code gulp
  | .
  | If you&apos;re making a static site, you won&apos;t need this file.
h4 lib/
p
  | Your JavaScript code for backend
  | If you&apos;re making a static site, you won&apos;t need this folder either.
h4 routes/
p This folder should be used for scripts which define the routes for you site
h4 public/
p
  | This folder will be routed as &apos;/public&apos; with Browsersync, or, in case you use your own server, you must make this folder accesible as 
  code /public
h4 public/{js,css}/
p
  | It&apos;ll be a good practice if you&apos;ll use those files as the main scripts/styles for your site
h4 public/*/views/
p
  | Also it would be very nice if you&apos;ll use this files for some of your routes, for example
pre.
  
h4 public/*/includes/
p
  | It&apos;s recommended for you to use this files in order to include the main files
  | Example of JavaScript including
pre.
  
p Example of CSS including:  
pre.
  
h4 public/*/partials
p
  | This folder is very similar to includes/, but it would be nice if you&apos;ll use this folder for some widgets of your site, and it&apos;s recommended to include this files only in the main files (and not in the views/* files)
h4 views/
p
  | This is the folder for your views of the site, if you use your own server
  | If youre creating a static site - put your Pug or HTML there, and the files will be routed as 
  code /
  | . For example
pre.
  
h3 Also, this framework provides configs for a lot of various tools, such as:
ul
  li
    | Bablel 
    code .babelrc
  li
    | Eslint 
    code .eslintrc
  li
    | htmllint 
    code .htmllintrc
  li
    | js-beautify 
    code .jsbeautifyrc
  li
    | postcss-sorting 
    code .postcss-sorting.json
  li
    | pug-lint 
    code .pug-lintrc
  li
    | Stylelint 
    code .stylelintrc
h3 How to use
p
  | First you need create the file structure described previous (if you use Yeoman generator, you can skip this step)
pre.
  
p Create a sample config (if you use Yeoman generator, skip this step)  
pre.
  
p
  | Now you can execute&nbsp;
  code gulp
  |  in order to start the build, watching and live-reload your code. Or you can simply run&nbsp;
  code gulp build
  | &nbsp;or&nbsp;
  code gulp server
  | &nbsp;separately. Also you can run&nbsp;
  code gulp lint
  | &nbsp;for linting,&nbsp;
  code gulp fix
  | &nbsp;for fixing and beautifing the code and 
  code gulp self-update
  | &nbsp;for updating this script.
  code --all
  | &nbsp;flag enables the building of all the files, without changing none of them. 
  code --production
  | &nbsp;flag enables the production mode.
  code --deploy
  | &nbsp;flag enables deploying using rsync.
h2 License
p
  | MIT &copy; 
  a(href='https://github.com/horosgrisa') Grigorii Horos
