main {
  margin: 0;
  padding: 2em;

  color: #555;

  @media (min-width: 48em) {
    dd {
      margin-bottom: 16px;
      padding: 0 16px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  dl {
    padding: 0;
  }

  dl dt {
    margin-top: 16px;
    padding: 0;

    font-size: 1em;
    font-weight: bold;
    font-style: italic;
  }

  dl dd {
    margin-bottom: 4px;
    padding: 0 8px;
  }

  pre {
    overflow: auto;

    padding: 16px;

    border-radius: 3px;
    background-color: #f7f7f7;

    font-size: 85%;
    line-height: 1.45;
  }

  code {
    overflow: visible;

    max-width: auto;
    margin: 0;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

    word-wrap: normal;

    border: 0;
    border-radius: 3px;
    background-color: #e7e7e7;

    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 85%;
  }

  code::after ,code::before {
    content: "\00a0";
    letter-spacing: -0.2em;
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  ol ol,
  ul ol {
    list-style-type: lower-roman;
  }

  ul ul ol,
  ul ol ol,
  ol ul ol,
  ol ol ol {
    list-style-type: lower-alpha;
  }

  li + li {
    margin-top: 0.25em;
  }
}
