doctype html
html
  head
    title Simple page
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet',href='/bower_components/normalize-css/normalize.css')
    link(rel='stylesheet',href='/public/index.css')
  body
    header
      block header
    main
      block main
    footer
      block footer
    script(src='/public/index.js')
